body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 232, 232, 0.08);
    padding: 1% 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    width: 4%;
    margin-left: 2.85%;
}

.buttons-container {
    flex-grow: 1; 
    text-align: center;
}

header button {
    padding: 0.77% 1.54%;
    margin: 0 1.54%;
    font-size: 2.31vw;
    background-color: transparent;
    border: none;
    color: rgba(24, 24, 24, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

header button:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-button {
    font-weight: 500;
}

.nav-button.active {
    font-weight: bold; 
    border-bottom: 0.2em solid rgba(79, 149, 72, 1); 
}


.bottom-panel {
    position: relative;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 90%; 
}

.bottom-left {
     text-align: left;
     padding-left: 30px;
     margin-top: 30px
}

.bottom-right {
     position: absolute;
     top: 30px; 
     right: 30px; 
     font-size: 15px; 
     text-align: left;
}

.bottom-left p, .bottom-right p {
     color: rgba(232, 232, 232, 0.4);
     margin: 0;
}   

.full-page img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none; 
}

@font-face {
    font-family: 'NAMU-1400';
    src: url('../fonts/NAMU-1400.woff2') format('woff2'), /* Для сучасних браузерів */
         url('../fonts/NAMU-1400.woff') format('woff');   /* Для старіших браузерів */
    font-weight: normal;
    font-style: normal;
}

.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif;
    z-index: 1;
}

.text h2 {
    margin-top: -21px; /* Зменшено відстань від заголовка до першого абзацу */
    margin-bottom: -10px; /* Зменшено відстань між заголовком і підзаголовком */
    font-size: 71px;
}

.text p:first-child {
    font-size: 130%;
}

.text p:last-child {
    margin-top: 11px; 
    font-size: 26px;
}

 .text1 {
/* Ми команда професіоналів, що тривалий час працюють у сфері туризму. Наше туристичне агентство по Карпатах в Україні пропонує широкий спектр послуг, які допоможуть вам спланувати та організувати ідеальну подорож: */

position: absolute;
width: 55%;
left: 50%;
top: 134%;
transform: translateX(-50%);
font-family: 'NAMU-1400', sans-serif;
font-size: 14px;
text-align: center;
color: #181818;
z-index: 1;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .text2, .text3, .text4 {
    position: absolute;
    width: 399px; 
    font-family: 'Montserrat', sans-serif;;
    top: 194%;
    font-size: 21px;
    text-align: center;
    color: #181818;
    z-index: 1;
}

 .text2 {
    left: 16%;
    transform: translate(-50%, -50%);
}

.text3 {
    top: 202%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .text4 {
    top: 200%;
    right: 16%;
    transform: translate(50%, -50%);
}

.text5 {
    position: absolute;
    width: 366px; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    right: 37%;
    font-size: 28px;
    top: 241%;
}

.text6 {
    position: absolute;
    width: 386px; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    left: 5%;
    font-size: 28px;
    top: 256%;
}

 .text7 {
    position: absolute;
    width: 386px; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    right: 5%;
    font-size: 28px;
    top: 256%;
}

 .text8 {
    position: absolute;
    width: 366px; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    right: 37%;
    font-size: 28px;
    top: 271%;
}

.text2 p, .text3 p, .text4 p, .text5 p, .text6 p, .text7 p, .text8 p {
    margin: 0; /* Задає нульові відступи */
}

.instagram-button {
    text-align: center;
    position: absolute;
    margin-top: 138%;
    left: 49.5%;
    transform: translateX(-50%);
    z-index: 1;

}

.instagram-button img {
    width: 85px; 
    height: 85px;
    display: none;
}

 .instagram-button .logo1 {
    display: block;
}

.instagram-button a:hover .logo1 {
    display: none;
}

.instagram-button a:hover .logo2 {
    display: block;
    
}                      