body {
    margin: 0;
    padding: 0;
}

/*Логотип*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 232, 232, 0.08);
    padding: 1% 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header.scrolled {
    background-color: rgb(232, 232, 232); /* Change to the color you want when scrolled */
    transition: background-color 0.5s;
}

header img {
    width: 4%;
    margin-left: 2.85%;
}

/*Стилі для кнопків ПРО НАС, ПОХОДИ В ГОРИ, ЕКСКУРСІЇ, ВІДГУКИ*/
.buttons-container {
    flex-grow: 1; 
    text-align: center;
}

header button {
    padding: 0.77% 1.54%;
    margin: 0 1.54%;
    font-size: 2.31vw;
    background-color: transparent;
    border: none;
    color: rgba(24, 24, 24, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

header button:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-button {
    font-weight: 500;
}

.nav-button.active {
    font-weight: bold; 
    border-bottom: 0.2em solid rgba(79, 149, 72, 1); 
}

/*Стилі для нижньої панелі*/
.bottom-panel {
    position: relative;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    padding: 5% 0; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin-top: 15%; 
    z-index: 2;
}

.bottom-left {
    position: absolute;
    bottom: 19%; /* Decrease the bottom value */
    left: 3%;
    text-align: left;
    margin-top: -10px; /* Increase the negative margin-top value */
}

.bottom-right {
    position: absolute;
    bottom: 19%; /* Decrease the bottom value */
    right: 3%;
    text-align: left;
    margin-top: -10px; /* Increase the negative margin-top value */
}

.bottom-left p, .bottom-right p {
    color: rgba(232, 232, 232, 0.4);
    margin: 0;
}

.bottom-panel img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.bottom-panel {
    margin-top: 0;
}

.full-page {
    position: relative; 
}

.full-page img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none; 
} 

 .full-page img{
    position: relative;
}
  
/*НАШІ ТУРИ...*/
.text {
    position: absolute;
    width: 55%;
    top: 13%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    text-align: center;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif;
    font-weight: normal;
    z-index: 1;
}

.text p:first-child {
    font-size: 4vw;
}

.text p:last-child {
    margin-top: 1vw; 
    font-size: 2vw;
}

.text h2 {
    margin-top: -1.5vw; /* Зменшено відстань від заголовка до першого абзацу */
    margin-bottom: -0.5vw; /* Зменшено відстань між заголовком і підзаголовком */
    font-size: 5vw;
}

.textmountains { 
    position: absolute;
    width: 55%;
    left: 50%;
    top: 43%;
    transform: translateX(-50%);
    font-family: 'NAMU-1400', sans-serif;
    font-size: 3.7vw;
    text-align: center;
    color: rgba(24, 24, 24, 1);
    z-index: 1;
    font-weight: normal;
    
}

.textmountains p {
    margin: 0;
} 


@font-face {
    font-family: 'NAMU-1400';
    src: url('../fonts/NAMU-1400.woff2') format('woff2'), /* Для сучасних браузерів */
         url('../fonts/NAMU-1400.woff') format('woff');   /* Для старіших браузерів */
    font-weight: normal;
    font-style: normal;
}

 .mountainsphoto {
    position: absolute; /* Залишаємо фото абсолютно в одному місці */
    top: 0; /* Задаємо верхню границю */
    left: 0; 
}

 .photomountains3 {
    position: relative;
    display: inline-block;
    margin-top: 74%;   
    width: 33%; 
    left: 11%; 
}

.photomountains3 img {
    height: auto;
    display: block; 
    margin: 0 auto; 
    position: relative; 
    margin-top: 10%; 
    border-radius: 5%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
} 

.photomountains3 .image3 {
    position: absolute;
    top: 0; /* Встановлюємо верхнє розташування нового зображення */
    right: 61.7%; /* Встановлюємо ліве розташування нового зображення */
    width: 12.5vw; /* Встановлюємо ширину нового зображення */
} 

/*Стилі для тексту "ЖЕНЕЦЬКИЙ ГУК"*/
.image-text3  {
    position: absolute;
    font-family: 'NAMU-1400', sans-serif;
    top: 3%;
    bottom: 10%; /* Відступ знизу, щоб текст знаходився поверх зображення */
    left: 47%; /* Центрування тексту по горизонталі */
    transform: translateX(-50%); /* Вирівнювання по центру */
    color: white; /* Колір тексту */
    padding: 11%; /* Внутрішні відступи */
    font-size: 2vw; /* Розмір шрифту */
    text-align: center; /* Вирівнювання тексту по центру */
    width: 1%;
    z-index: 10; 
}

.photomountains2 {
    position: relative;
    display: inline-block;
    top: 1%; 
    z-index: 10;
    width: 33%; 
}

.photomountains2 img {
    margin-top: -67.5%;
    margin-left: 67%;
    border-radius: 5%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}  

.photomountains2 .image2 {
    position: absolute;
    top: 0; /* Встановлюємо верхнє розташування нового зображення */
    left: 0%; /* Встановлюємо ліве розташування нового зображення */
    width: 12.5vw;
} 

/*Стилі для тексту "СИНЕВИР"*/
.image-text2  {
    position: absolute;
    font-family: 'NAMU-1400', sans-serif;
    top: -228%;
    left: 126%; /* Центрування тексту по горизонталі */
    transform: translateX(-50%); /* Вирівнювання по центру */
    color: white; /* Колір тексту */
    padding: 11%; /* Внутрішні відступи */
    font-size: 2.2vw; /* Розмір шрифту */
    text-align: center; /* Вирівнювання тексту по центру */
    width: 1%;
    z-index: 10; 
}

.photomountains1 {
    position: relative;
    display: inline-block;
    margin-top: 3%; 
    margin-left: 33%;  
    width: 33%; 
}

 .photomountains1 img {
    height: auto; 
    display: block; 
    margin: 0 auto; 
    position: relative; 
    margin-top: 10%; 
    border-radius: 5%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a more pronounced shadow around the image */
} 

.photomountains1 .image1 {
    position: absolute;
    top: 0; /* Встановлюємо верхнє розташування нового зображення */
    left: 0%; /* Встановлюємо ліве розташування нового зображення */
    width: 12.5vw;
} 

/*Стилі для тексту "ГУЦУЛ ЛЕНД"*/
.image-text1  {
    position: absolute;
    font-family: 'NAMU-1400', sans-serif;
    white-space: nowrap; 
    top: 13%;
    left: 67%; /* Центрування тексту по горизонталі */
    transform: translateX(-50%); /* Вирівнювання по центру */
    color: white; /* Колір тексту */
    font-size: 2.1vw; /* Розмір шрифту */
    text-align: center; /* Вирівнювання тексту по центру */
    z-index: 10; /*Щоб текст був на фото, а не під*/ 
}

/*Стилі для кнопок ДЕТАЛЬНІШЕ на фото*/

.logo-button1 {
    position: absolute;
    top: 90%; 
    left: 19.2%; 
    transform: translate(-50%, -50%);
    background-color: rgba(79, 149, 72, 1);
    color: rgba(232, 232, 232, 1);
    padding:  1.7% 2.7%;
    font-size: 1.3vw;
    letter-spacing: 1px; 
    font-family: 'NAMU-1990', sans-serif;
    border: none;
    border-radius: 0.8vw;
    transition: all 0.3s ease;
    z-index: 10;
}

.logo-button2 {
    position: absolute;
    top: 65%; 
    left: 86.2%; 
    transform: translate(-50%, -50%);
    background-color: rgba(79, 149, 72, 1);
    color: rgba(232, 232, 232, 1);
    padding:  1.7% 2.7%;
    font-size: 1.3vw;
    letter-spacing: 1px; 
    font-family: 'NAMU-1990', sans-serif;
    border: none;
    border-radius: 0.8vw;
    transition: all 0.3s ease;
    z-index: 10;
}

.logo-button3 {
    position: absolute;
    top: 90%;
    left: 19%; 
    transform: translate(-50%, -50%);
    background-color: rgba(79, 149, 72, 1);
    color: rgba(232, 232, 232, 1);
    padding:  1.7% 2.7%;
    font-size: 1.3vw;
    letter-spacing: 1px; 
    font-family: 'NAMU-1990', sans-serif;
    border: none;
    border-radius: 0.8vw;
    transition: all 0.3s ease;
    z-index: 10;
}

.logo-button1:hover, .logo-button2:hover, .logo-button3:hover {
    box-shadow: 0 0 20px rgba(254, 250, 250, 0.797); 

}


