body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 232, 232, 0.08);
    padding: 1% 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    width: 4%;
    margin-left: 2.85%;
}

.buttons-container {
    flex-grow: 1; 
    text-align: center;
}

header button {
    padding: 0.77% 1.54%;
    margin: 0 1.54%;
    font-size: 2.31vw;
    background-color: transparent;
    border: none;
    color: rgba(24, 24, 24, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

header button:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-button {
    font-weight: 500;
}

.nav-button.active {
    font-weight: bold; 
    border-bottom: 0.2em solid rgba(79, 149, 72, 1); 
}

.bottom-panel {
    position: relative;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    padding: 0.84% 0; /* Замінюємо фіксований відступ у пікселях на відсотки */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.26vw; /* Замінюємо фіксований розмір шрифту на відсотки */
    margin-top: 92.39%; /* Замінюємо фіксований відступ у пікселях на відсотки */
    z-index: 2;
}

.bottom-left {
    text-align: left;
    padding-left: 1.875rem; /* 30px у rem */
    margin-top: 1.875rem; /* 30px у rem */
}

.bottom-right {
    position: absolute;
    top: 1.875rem; /* 30px у rem */
    right: 1.875rem; /* 30px у rem */
    text-align: left;
}

.bottom-left p, .bottom-right p {
     color: rgba(232, 232, 232, 0.4);
     margin: 0;
} 

.bottom-panel img {
    max-width: 100%; /* Максимальна ширина 100% від батьківського контейнера */
    height: auto; /* Висота автоматична для збереження пропорцій */
    display: block; /* Встановлення блочного відображення для зображень */
    margin: 0 auto; /* Центрування зображень */
}

.bottom-panel {
    margin-top: 0;
}

.full-page {
    position: relative; 
}

.full-page img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none; 
}

.text {
    position: absolute;
    top: 16vw;
    margin-left: 77%;
    transform: translate(-50%, -50%);
    font-size: 4.8vw;
    text-align: left;
    color:rgba(232, 232, 232, 1);
    font-family: 'NAMU-1400', sans-serif;
    font-weight: normal;
    z-index: 1;
}


@font-face {
    font-family: 'NAMU-1400';
    src: url('../fonts/NAMU-1400.woff2') format('woff2'), /* Для сучасних браузерів */
         url('../fonts/NAMU-1400.woff') format('woff');   /* Для старіших браузерів */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'NAMU-1990';
    src: url('../fonts/NAMU-1990.woff2') format('woff2'), /* Для сучасних браузерів */
         url('../fonts/NAMU-1990.woff') format('woff');   /* Для старіших браузерів */
    font-weight: normal;
    font-style: normal;
}

.bottom-panel {
    margin-top: 0%;
}

 .full-page img{
    position: relative;
}

.black {
    width: 27%; /* розмір квадрата */
    height: 21vw; /* розмір квадрата */
    background-color: rgba(24, 24, 24, 0.5); /* початковий колір, який ви можете змінити */
    border-radius: 6%; /* радіус закруглення, змініть значення за потреби */
    position: absolute; /* позиціювання на сторінці */
    top: 33vw; /* центрування по вертикалі */
    left: 23%; /* центрування по горизонталі */
    transform: translate(-50%, -50%); /* щоб центрування було по середині квадрата */
    z-index: 1000; /* щоб квадрат був над іншими елементами */
}

.black-text {
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
    width: 22vw;
    line-height: 2.1;
    font-size: 1.6vw;
    color: rgba(255, 255, 255, 1); /* колір тексту наслідує від батьківського елемента */
    margin: 0;
    position: relative;
    top: 11%; 
    left: 11%; 
}

.nav-button1 {
    position: absolute;
    top: 44vw;
    right: 9%;
    padding: 0;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;

}

.nav-button1 img {
    width: 19vw;
    height: auto;
}

.text1 {
position: absolute;
font-size: 1.9vw;
width: 79vw;
left: 50%;
top: 56vw;
transform: translateX(-50%);
font-family: 'NAMU-1990', sans-serif;
text-align: center;
color: rgba(24, 24, 24, 1);
z-index: 1;
}

.text1 p {
    margin-bottom: 3vw; /* Відступ між параграфами */
}

.text2 {
position: absolute;
font-size: 1.7vw;
left: 38%;
top: 102vw;
transform: translateX(-50%);
font-family: 'NAMU-1990', sans-serif;
text-align: left;
color: rgba(24, 24, 24, 1);
z-index: 1;
}

.text2 p {
    margin-bottom: 0.2vw;
}

.text2 h2 {
    font-size: 1.5vw;
    font-weight: bold;
}

.photo img {   
    position: absolute;
    left: 11%;
    top: 89vw;
    z-index: 1; 
    width: 77vw;
    height: auto; /* Автоматично регулюємо висоту, щоб зберегти пропорції */
    display: block; /* Додаємо як блочний елемент, щоб уникнути непотрібних відступів */
    margin: 0 auto; /
}
