@font-face {
    font-family: 'NAMU-1400';
    src: url('../fonts/NAMU-1400.woff2') format('woff2'), /* Для сучасних браузерів */
         url('../fonts/NAMU-1400.woff') format('woff');   /* Для старіших браузерів */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 232, 232, 0.08);
    padding: 1% 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    width: 3.85%;
    margin-left: 3.85%;
}

.buttons-container {
    flex-grow: 1; 
    text-align: center;
}

header button {
    padding: 0.77% 1.54%;
    margin: 0 1.54%;
    font-size: 2.31vw;
    background-color: transparent;
    border: none;
    color: rgba(24, 24, 24, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

header button:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-button {
    font-weight: 500;
}

.nav-button.active {
    font-weight: bold; 
    border-bottom: 0.2em solid rgba(79, 149, 72, 1); 
}

.bottom-panel {
    position: relative;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    padding: 0.84% 0; /* Замінюємо фіксований відступ у пікселях на відсотки */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.26vw; /* Замінюємо фіксований розмір шрифту на відсотки */
    margin-top: 92.39%; /* Замінюємо фіксований відступ у пікселях на відсотки */
    z-index: 2;
}

.bottom-left {
    text-align: left;
    padding-left: 1.875rem; /* 30px у rem */
    margin-top: 1.875rem; /* 30px у rem */
}

.bottom-right {
    position: absolute;
    top: 1.875rem; /* 30px у rem */
    right: 1.875rem; /* 30px у rem */
    text-align: left;
}

.bottom-left p, .bottom-right p {
     color: rgba(232, 232, 232, 0.4);
     margin: 0;
} 

.bottom-panel img {
    max-width: 100%; /* Максимальна ширина 100% від батьківського контейнера */
    height: auto; /* Висота автоматична для збереження пропорцій */
    display: block; /* Встановлення блочного відображення для зображень */
    margin: 0 auto; /* Центрування зображень */
}

.bottom-panel {
    margin-top: 0;
}

.full-page {
    position: relative; 
}

.full-page img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none; 
}

.text {
    position: absolute;
    width: 55%;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    text-align: center;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif;
    font-weight: normal;
    z-index: 1;
}

.textmountains p {
    margin: 0;
} 

.text p:first-child {
    font-size: 4vw;
}

.text p:last-child {
    margin-top: 1vw; 
    font-size: 2vw;
}

.text h2 {
    margin-top: -1.5vw; /* Зменшено відстань від заголовка до першого абзацу */
    margin-bottom: -0.5vw; /* Зменшено відстань між заголовком і підзаголовком */
    font-size: 5vw;
}

.textmountains { 
    position: absolute;
    width: 55%;
    left: 50%;
    top: 139%;
    transform: translateX(-50%);
    font-family: 'NAMU-1400', sans-serif;
    font-size: 3.7vw;
    text-align: center;
    color: rgba(24, 24, 24, 1);
    z-index: 1;
    font-weight: normal;
    
}

.mountainsphoto3 {
    position: absolute; /* Залишаємо фото абсолютно в одному місці */
    top: 0; /* Задаємо верхню границю */
    left: 0; 
}

.photomountains1-2 {
    display: flex;
    justify-content: center;
    margin-top: 72.3%;  
    margin-right: 7%;
    margin-left: 2%;
    position: relative;
    z-index: 1;
}

.photomountains1-2 img {
    max-width: 38%; 
    margin: 4.5vw; 
    border-radius: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a more pronounced shadow around the image */
    z-index: 1;
} 

.photomountains1-2 img:last-child {
    margin-right: 0;
}

.photomountains3 { 
    position: relative;
    display: flex;
    margin-top: 2%;
    margin-left: 32%; /* Adjust margin as needed */
}

.photomountains3 img {
    max-width: 52%;
    top: 10%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}