@font-face {
    font-family: 'NAMU-1400';
    src: url('../fonts/NAMU-1400.woff2') format('woff2'), /* Для сучасних браузерів */
         url('../fonts/NAMU-1400.woff') format('woff');   /* Для старіших браузерів */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 232, 232, 0);
    padding: 1% 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header.scrolled {
    background-color: rgb(232, 232, 232); 
    transition: background-color 0.5s;
}

header img {
    width: 3.85%;
    margin-left: 3.85%;
}

.buttons-container {
    flex-grow: 1; 
    text-align: center;
}

header button {
    padding: 0.77% 1.54%;
    margin: 0 1.54%;
    font-size: 2.31vw;
    background-color: transparent;
    border: none;
    color: rgba(24, 24, 24, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

header button:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-button {
    font-weight: 500;
}

.nav-button.active {
    font-weight: bold; 
    border-bottom: 0.2em solid rgba(79, 149, 72, 1); 
}

.bottom-panel {
    position: relative;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    padding: 5% 0; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin-top: 15%; 
    z-index: 2;
}

.bottom-left {
    position: absolute;
    bottom: 19%; /* Зменшує нижнє значення */
    left: 3%;
    text-align: left;
    margin-top: -10px; 
}

.bottom-right {
    position: absolute;
    bottom: 19%;
    right: 3%;
    text-align: left;
    margin-top: -10px; 
}

.bottom-left p, .bottom-right p {
    color: rgba(232, 232, 232, 0.4);
    margin: 0;
}

.bottom-panel img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.bottom-panel {
    margin-top: 0;
}

.full-page {
    position: relative; 
}

.full-page img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none; 
}

         /* Відгуки */

.reviews-text-container {
    position: absolute;
    top: -50vw;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.reviews-text1 {
    width: 100%;
    font-size: 6vw;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif;
    font-weight: normal;
    margin: 0;
}

.reviews-text2 {
    width: 100%;
    margin-top: 0.4vw;
    font-size: 2.3vw;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif;
    white-space: nowrap;
}

.overlay {
    position: absolute;
    top:39%; /* верхня позиція */
    left: 10%; /* ліва */
    right: 10%;
    width: 80%; /* ширина */
    height: 50%; /* висота */
    border-radius: 2vw; 
    background-color: rgba(79, 149, 72, 0.2); 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-photo {
    position: absolute;
    top: -0.1%; 
    left: 50%;
    border-radius: 2vw; 
    transform: translateX(-50%);
    width: 50%; 
    z-index: 0;
}

.overlay-photo1, 
.overlay-photo2,
.overlay-photo3,
.overlay-photo4,
.overlay-photo5,
.overlay-photo6 {
    position: absolute;
    top: 36.5vw;
    max-width: 4%; 
    max-height: 4%;
    z-index: 100;
}

.overlay-photo1 {
    left: 8vw;
    transform: translate(-50%, -50%);
}

.overlay-photo2 {
    left: 47vw;
    transform: translate(-50%, -50%);
}

.overlay-photo3 {
    top: 53.5vw;
    left: 8vw;
    transform: translate(-50%, -50%);
}

.overlay-photo4 {
    top: 53.5vw;
    left: 47vw;
    transform: translate(-50%, -50%);
}

.overlay-photo5 {
    top: 70.5vw;
    left: 8vw;
    transform: translate(-50%, -50%);
}

.overlay-photo6 {
    top: 70.5vw;
    left: 47vw;
    transform: translate(-50%, -50%);
}


.overlay-text-container {
    position: absolute;
    top: -50vw; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.overlay-text3 {
    position: relative; 
    top: 61vw;
    left: -31vw;
    font-family: 'NAMU-1400', sans-serif;
    font-size: 3.2vw;
    color: rgba(232, 232, 232, 1); 
    z-index: 10;
}

.overlay-text4 {
    position: relative; 
    top: 61.1vw;
    left: -28vw; 
    font-family: 'NAMU-1400', sans-serif;
    font-size: 3.2vw;
    color: rgba(232, 232, 232, 1); 
    z-index: 10;
}

.overlay-text5 {
    position: relative; 
    top: 86.5vw;
    left: -26vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text6 {
    position: absolute;
    top: 98vw;
    left: -25vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 1);
    z-index: 10;
}

.overlay-text7 {
    position: absolute;
    top: 93.5vw;
    left: -5vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: rgba(132, 132, 132, 0.765);
    z-index: 10;
}

.overlay-text8 {
    position: relative; 
    top: 85vw;
    left: 16vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text9 {
    position: absolute;
    top: 98vw;
    left: 14vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 1);
    z-index: 10;
}

.overlay-text10 {
    position: absolute;
    top: 93.5vw;
    left: 33.5vw;
    width: 20vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: rgba(132, 132, 132, 0.765);
    z-index: 10;
}

.overlay-text11 {
    position: relative; 
    top: 100.5vw;
    left: -25vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text12 {
    position: absolute;
    top: 115vw;
    left: -25vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 1);
    z-index: 10;
}

.overlay-text13 {
    position: absolute;
    top: 110.5vw;
    left: -5vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: rgba(132, 132, 132, 0.765);
    z-index: 10;
}

.overlay-text14 {
    position: relative; 
    top: 99vw;
    left: 13.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text15 {
    position: absolute;
    top: 115vw;
    left: 14vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 1);
    z-index: 10;
}

.overlay-text16 {
    position: absolute;
    top: 110.5vw;
    left: 33.5vw;
    width: 20vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: rgba(132, 132, 132, 0.765);
    z-index: 10;
}

.overlay-text17 {
    position: relative; 
    top: 114.5vw;
    left: -25vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text18 {
    position: absolute;
    top: 132vw;
    left: -25vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 1);
    z-index: 10;
}

.overlay-text19 {
    position: absolute;
    top: 127.5vw;
    left: -5vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: rgba(132, 132, 132, 0.765);
    z-index: 10;
}


.overlay-text20 {
    position: relative; 
    top: 112.7vw;
    left: 16vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text21 {
    position: absolute;
    top: 132vw;
    left: 14vw;
    width: 25vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 1);
    z-index: 10;
}

.overlay-text22 {
    position: absolute;
    top: 127.5vw;
    left: 33.5vw;
    width: 20vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: rgba(132, 132, 132, 0.765);
    z-index: 10;
}

.translucent-overlay2 {
    position: absolute;
    top: 40%; 
    left: 7%; 
    width: 37%; 
    height: 16%; 
    background-color: rgb(255, 255, 255); 
    border-radius: 1vw;  
    z-index: 1; 
}

.translucent-overlay3 {
    position: absolute;
    top: 60%; 
    left: 7%;
    width: 37%; 
    height: 16%; 
    background-color: rgb(255, 255, 255); 
    border-radius: 1vw;  
    z-index: 1; 
}


.translucent-overlay4 {
    position: absolute;
    top: 80%; 
    left: 7%; 
    width: 37%; 
    height: 16%; 
    background-color: rgb(255, 255, 255); 
    border-radius: 1vw;  
    z-index: 1; 
}

.translucent-overlay5 {
    position: absolute;
    top: 40%;
    left: 56%; 
    width: 37%; 
    height: 16%; 
    background-color: rgb(255, 255, 255); 
    border-radius: 1vw;  
    z-index: 1; 
}

.translucent-overlay6 {
    position: absolute;
    top: 60%; 
    left: 56%; 
    width: 37%; 
    height: 16%; 
    background-color: rgb(255, 255, 255); 
    border-radius: 1vw;  
    z-index: 1; 
}

.translucent-overlay7 {
    position: absolute;
    top: 80%;
    left: 56%;
    width: 37%;
    height: 16%; 
    background-color: rgb(255, 255, 255); 
    border-radius: 1vw;  
    z-index: 1; 
}
