@font-face {
    font-family: 'NAMU-1400';
    src: url('../fonts/NAMU-1400.woff2') format('woff2'), /* Для сучасних браузерів */
         url('../fonts/NAMU-1400.woff') format('woff');   /* Для старіших браузерів */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 232, 232, 0);
    padding: 1% 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    width: 3.85%;
    margin-left: 3.85%;
}

.buttons-container {
    flex-grow: 1; 
    text-align: center;
}

header button {
    padding: 0.77% 1.54%;
    margin: 0 1.54%;
    font-size: 2.31vw;
    background-color: transparent;
    border: none;
    color: rgba(24, 24, 24, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

header button:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-button {
    font-weight: 500;
}

.nav-button.active {
    font-weight: bold; 
    border-bottom: 0.2em solid rgba(79, 149, 72, 1); 
}

.bottom-panel {
    position: relative;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    padding: 0.84% 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.26vw; 
    margin-top: 92.39%;
    z-index: 2;
}

.bottom-left {
    text-align: left;
    padding-left: 1.875rem; /* 30px у rem */
    margin-top: 1.875rem; /* 30px у rem */
}

.bottom-right {
    position: absolute;
    top: 1.875rem; /* 30px у rem */
    right: 1.875rem; /* 30px у rem */
    text-align: left;
}

.bottom-left p, .bottom-right p {
     color: rgba(232, 232, 232, 0.4);
     margin: 0;
} 

.bottom-panel img {
    max-width: 100%; /* Максимальна ширина 100% від батьківського контейнера */
    height: auto; /* Висота автоматична для збереження пропорцій */
    display: block; /* Встановлення блочного відображення для зображень */
    margin: 0 auto; /* Центрування зображень */
}

.bottom-panel {
    margin-top: 0;
}

.full-page {
    position: relative; 
}

.full-page img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none; 
}

         /* Відгуки */
.reviews-text-container {
    position: absolute;
    top: 11%; 
    left: 35%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

.reviews-text1 {
    position: absolute;
    width: 55%; 
    transform: translate(-50%, -50%);
    font-size: 6vw; 
    text-align: center;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif; 
    font-weight: normal;
    z-index: 1;
}

.reviews-text2 {
    position: absolute;
    width: 100%;
    top: calc(10% + 3vw );
    left:30%; 
    transform: translateX(-50%);
    font-size: 2vw;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif;
    white-space: nowrap;
    z-index: 1;
}

