@font-face {
    font-family: 'NAMU-1400';
    src: url('../fonts/NAMU-1400.woff2') format('woff2'), /* Для сучасних браузерів */
         url('../fonts/NAMU-1400.woff') format('woff');   /* Для старіших браузерів */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 232, 232, 0);
    padding: 1% 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    width: 3.85%;
    margin-left: 3.85%;
}

.buttons-container {
    flex-grow: 1; 
    text-align: center;
}

header button {
    padding: 0.77% 1.54%;
    margin: 0 1.54%;
    font-size: 2.31vw;
    background-color: transparent;
    border: none;
    color: rgba(24, 24, 24, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

header button:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-button {
    font-weight: 500;
}

.nav-button.active {
    font-weight: bold; 
    border-bottom: 0.2em solid rgba(79, 149, 72, 1); 
}

.bottom-panel {
    position: relative;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    padding: 5% 0; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin-top: 15%; 
    z-index: 2;
}

.bottom-left {
    position: absolute;
    bottom: 19%; /* Decrease the bottom value */
    left: 3%;
    text-align: left;
    margin-top: -10px; /* Increase the negative margin-top value */
}

.bottom-right {
    position: absolute;
    bottom: 19%; /* Decrease the bottom value */
    right: 3%;
    text-align: left;
    margin-top: -10px; /* Increase the negative margin-top value */
}

.bottom-left p, .bottom-right p {
    color: rgba(232, 232, 232, 0.4);
    margin: 0;
}

.bottom-panel img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.bottom-panel {
    margin-top: 0;
}

.full-page {
    position: relative; 
}

.full-page img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none; 
}

         /* Відгуки */

.reviews-text-container {
    position: absolute;
    top: -50vw; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.reviews-text1 {
    width: 100%;
    font-size: 6vw;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif;
    font-weight: normal;
    margin: 0; /* Remove default margin */
}

.reviews-text2 {
    width: 100%;
    margin-top: 0.1vw; /* Spacing between text1 and text2 */
    font-size: 2.3vw;
    color: #181818;
    font-family: 'NAMU-1400', sans-serif;
    white-space: nowrap;
}

.overlay {
    position: absolute;
    top:39%; /* верхня позиція */
    left: 10%; /* ліва */
    right: 10%;
    width: 80%; /* ширина */
    height: 50%; /* висота */
    border-radius: 2vw; 
    background-color: rgba(79, 149, 72, 0.2); /* Semi-transparent green */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-photo {
    position: absolute;
    top: -0.1%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    border-radius: 20px; 
    transform: translateX(-50%);
    width: 50%; /* Adjust as needed */
    z-index: 0;
}

.overlay-photo1,
.overlay-photo2 {
    position: absolute;
    top: 41vw;
    max-width: 20%; /* Ensure the image doesn't exceed the specified width */
    z-index: 100;
}

.overlay-photo1 {
    left: 20vw;
    transform: translate(-50%, -50%);
}

.overlay-photo2 {
    left: 58vw;
    transform: translate(-50%, -50%);
}

.overlay-text-container {
    position: absolute;
    top: -50vw; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.overlay-text3 {
    position: relative; 
    top: 63vw;
    left: -31vw; /* Adjust as needed */
    font-family: 'NAMU-1400', sans-serif;
    font-size: 3.2vw;
    color: rgba(232, 232, 232, 1); 
    z-index: 10;
}

.overlay-text4 {
    position: relative; 
    top: 62vw;
    left: -28vw; /* Adjust as needed */
    font-family: 'NAMU-1400', sans-serif;
    font-size: 3.2vw;
    color: rgba(232, 232, 232, 1); 
    z-index: 10;
}

.overlay-text5 {
    position: relative; 
    top: 102.5vw;
    left: -19.5vw; /* Adjust as needed */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 2vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text6 {
    position: relative; 
    top: 100vw;
    left: 19vw; /* Adjust as needed */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 2vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}
.overlay-text7 {
    position: relative; 
    top: 100.5vw;
    left: -25vw; /* Adjust as needed */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 2vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text8 {
    position: relative; 
    top: 98.3vw;
    left: -10.5vw; /* Adjust as needed */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.409); 
    z-index: 10;
}

.overlay-text9 {
    position: relative; 
    top: 96vw;
    left: 14vw; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 2vw;
    color: rgba(0, 0, 0, 1); 
    z-index: 10;
}

.overlay-text10 {
    position: relative; 
    top: 93.9vw;
    left: 28.5vw; /* Adjust as needed */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.409); 
    z-index: 10;
}

.overlay-text11 {
    position: absolute;
    top: 117vw;
    left: -23vw;
    width: 23vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 1);
    z-index: 10;
}

.overlay-text12 {
    position: absolute;
    top: 117vw;
    left: 17vw;
    width: 24vw;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 1);
    z-index: 10;
}


