body {
    margin: 0; 
    padding: 0; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 232, 232, 0.08); 
    padding: 10px 0; 
    color: black;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    z-index: 1;
}

header img {
    width: 52px; 
    margin-left: 20px;
}

.buttons-container {
    flex-grow: 1; 
    text-align: center;
}

header button {
    padding: 10px 20px;
    background-color: transparent;
    border: none; 
    color: rgba(24, 24, 24, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 0 10px; 
    cursor: pointer;
    text-decoration: none;
}

header button:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-button {
    font-weight: 500;
}

.nav-button.active {
    font-weight: bold; 
    border-bottom: 4px solid rgba(79, 149, 72, 1); 
}

/* Стилі для нижньої панелі */
.bottom-panel {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba(24, 24, 24, 1);
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 1520px; 
}

.bottom-left {
     text-align: left;
     padding-left: 30px;
     margin-top: 30px
}

.bottom-right {
     position: absolute;
     top: 30px; 
     right: 30px; 
     font-size: 15px; 
     text-align: left;
}

.bottom-left p, .bottom-right p {
     color: rgba(232, 232, 232, 0.4);
     margin: 0;
}   

/* Стилі для сторінки mountains.html */
.mountains-page .bottom-panel {
    margin-top: 0;
}

.full-page {
    position: relative; 
}
.excursions-page .bottom-panel {
    margin-top: 0;
}

.excursions-page .full-page {
    position: relative;
}


.full-page img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none; 
}